name: Python package

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip3 install --user git+https://gitlab.mpcdf.mpg.de/mtr/ducc.git@more_general_sht_work
      - name: install
        run: |
          pip install -e . --user
      - name: testlensing
        run: |
          python lenspyx/tests/test_epsilon.py